<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/ajay.juyal.733" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #3b5998;"></i></a>
      <a href="https://www.instagram.com/ajay_juyal16?igsh=cnp2dGt1N3hlY3J0" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #e1306c;"></i></a>
      <a href="https://www.linkedin.com/in/ajay-juyal-518944267?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin" style="color: #0077b5;"></i></a>
    </div>
    <div class="f-info-brand"> &copy;StayHub Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
